<div class="container" [ngSwitch]="currentSection">
	<verbs-app-home *ngSwitchCase="'Home'"></verbs-app-home>
	<verbs-app-regular-verbs *ngSwitchCase="'Regular Verbs'"></verbs-app-regular-verbs>
	<verbs-app-irregular-verbs *ngSwitchCase="'Irregular Verbs'"></verbs-app-irregular-verbs>
	<verbs-app-phrasal-verbs *ngSwitchCase="'Phrasal Verbs'"></verbs-app-phrasal-verbs>
	<verbs-app-verb-to-be *ngSwitchCase="'Verb To Be'"></verbs-app-verb-to-be>
	<verbs-app-verbs-with-prepositions *ngSwitchCase="'Verbs With Prepositions'"></verbs-app-verbs-with-prepositions>
	<verbs-app-verbs-with-two-objects *ngSwitchCase="'Verbs With To Objects'"></verbs-app-verbs-with-two-objects>
	<verbs-app-state-verbs-dynamic-verbs *ngSwitchCase="'State Verbs / Dynamic Verbs'"></verbs-app-state-verbs-dynamic-verbs>
	<verbs-app-the-imperative *ngSwitchCase="'The Imperative'"></verbs-app-the-imperative>
	<verbs-app-admin *ngSwitchCase="'Admin'"></verbs-app-admin>
	<verbs-app-home *ngSwitchDefault></verbs-app-home >
</div>
