<h2>{{sectionTitle}}</h2>
<app-verbs-subnav></app-verbs-subnav>

<table>
  <thead>
    <tr>
      <th class="hidden-xs">Title</th>
      <th>Infinitive</th>
      <th>Simple Past</th>
      <th>Past Participle</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let verb of (allVerbs | sortByTitle)" (click)="displayVerb()">
      <td class="hidden-xs">
        <a [routerLink]="['./', verb.infinitive]">{{verb.title}}</a>
      </td>
      <td>
        <a [routerLink]="['./', verb.infinitive]">{{verb.infinitive}}</a>
      </td>
      <td>
        <a [routerLink]="['./', verb.infinitive]">{{verb.simplePast}}</a>
      </td>
      <td>
        <a [routerLink]="['./', verb.infinitive]">{{verb.pastParticiple}}</a>
      </td>
    </tr>
  </tbody>
</table>

