@verbs-app-main-bg-color: #274588;
@verbs-app-secondary-bg-color: #091735;
@verbs-app-nav-link-color: #859dd4;
@verbs-app-body-bg-color: #e0e0e0;
@verbs-app-border-nav-color: #233763;
@verbs-app-placeholder-color: #8ca4da;